<div class="sidenav">
  <ul>
    <li>
      <button class="btn books">
        <svg class="icon icon-books" routerLink="/books">
          <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-books"></use>
        </svg>
        <p>Books</p>
        <svg class="icon icon-keyboard_arrow_down">
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-keyboard_arrow_down"></use>
        </svg>
      </button>
    </li>
    <li>
      <button class="btn mugs">
        <svg class="icon icon-coffee">
          <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-coffee"></use>
        </svg>
        <p>Coffee Mugs</p>
        <svg class="icon icon-keyboard_arrow_up">
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-keyboard_arrow_up"></use>
        </svg>
      </button>
    </li>
    <li>
      <button class="btn mouse">
        <svg class="icon icon-mouse">
          <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-mouse"></use>
        </svg>
        <p>Mouse Pad</p>
        <svg class="icon icon-keyboard_arrow_up">
          <use
            xlink:href="\assets\images\products\icons\icons.svg#icon-keyboard_arrow_up"></use>
        </svg>
      </button>
    </li>
    <li>
      <button class="btn tags">
        <svg class="icon icon-luggage">
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-luggage"></use>
        </svg>
        <p>Luggage Tags</p>
        <svg class="icon icon-keyboard_arrow_up">
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-keyboard_arrow_up"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
