@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import './mixins';

:root {
  --primary-color: #0052DD;
  --primary-: #0052DD;
  --text-color: #ffffff;
  --text-blue-white: #0052DD;
  --primary-color-dark: #0052DD;
  --primary-color-light: #5CB7F4;
  --blue-dark-color-1: #0052DD ;
  --yellow-color-1: #CDA94C;
  --light-color: #FEFBFF;
  --accent-color: #00A5A5;
  --success-color: #5AA454;
  --danger-color: #F66257;
  --warning-color: #FFC116;
  --white-black: #ffffff;
  --body: #ffffff;
  --black: #000;
  --black-white: #000;
  --grey-light-color-1: #FAF9F9;
  --grey-light-color-2: #F4F2F2;
  --grey-light-color-3: #F0EEEE;
  --grey-light-color-4: #ccc;
  --grey-light-color-5: #ddd;
  --grey-dark-color-1: #333;
  --grey-dark-color-2: #777;
  --grey-dark-color-3: #999;
  --shadow-color-1: rgba(0, 0, 0, 0.9);
  --shadow-color-2: rgba(0, 0, 0, 0.7);
  --shadow-color-3: rgba(0, 0, 0, 0.5);
  --shadow-color-4: rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.15);
  --shadow-card: 2px 2px 3px 3px rgba(0, 82, 221, 0.4);
  --line: 1px solid var(--grey-light-color-4);
}

:root .dark-theme {
  --primary-color: #0000009d;
  --white-black: #0000009d;
  --body: #0000009d;
  --black-white: #fff;
  --text-blue-white: #fff;
  --blue-dark-color-1: #00174C;
  // --grey-dark-color-3: #ffffff; //ICONS HEADER
  // --text-white: #ffffff;
  // --text-color-logo: #ffffff; //LOGO & IBMSHOP
  // --light-color: #000000; // white -- black
  // --primary-color-dark: #000000;
}

$bp-largest: 75em; //1200px/16
$bp-large: 68.75em; //1100px/16
$bp-medium: 56.25em; //900px/16
$bp-small: 37.5em; // 600px/16
$bp-smallest: 31.25em; //500px/16
$bp-smallestx: 18.75em; //300px/16
* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--grey-dark-color-2);
  background-color: var(--body);
}

























$bp-largest: 75em; //1200px/16
$bp-large: 68.75em; //1100px/16
$bp-medium: 56.25em; //900px/16
$bp-small: 37.5em; // 600px/16
$bp-smallest: 31.25em; //500px/16
$bp-smallestx: 18.75em; //300px/16

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}