@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import './mixins';

[data-theme='light'] {
  --dark-backgroud-color: #fff;
  // --teste-home-color: rgb(255, 0, 0);
}

[data-theme='dark'] {
  --dark-backgroud-color: hsl(0, 0%, 33%);
  // --teste-home-color: rgb(34, 30, 30);
}

// [data-theme='light'] {
//   --teste-home-color: rgb(224, 26, 26);
// }
// [data-theme='dark'] {
//   --teste-home-color: rgb(34, 30, 30);
// }



$bp-largest: 75em; //1200px/16
$bp-large: 68.75em; //1100px/16
$bp-medium: 56.25em; //900px/16
$bp-small: 37.5em; // 600px/16
$bp-smallest: 31.25em; //500px/16
$bp-smallestx: 18.75em; //300px/16

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}