<header>
  <div routerLink="">
    <h1>IBM <span> Shop </span></h1>
  </div>
 
  <div class="search-bar">
    <input type="text" placeholder="Search Products..." />
    <svg class="icon icon-search">
      <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-search"></use>
    </svg>
  </div>

  <div class="icons">
    <div class="icons-actions">
      <svg class="icon-local_grocery_store" routerLink="cart">
        <use
          xlink:href="\assets\images\products\icons-svg\icons.svg#icon-local_grocery_store"></use>
      </svg>

      {{ cartService.checkLength() }}

      <svg class="icon-bell">
        <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-bell"></use>
      </svg>
    </div>

    <div class="login">
      <svg class="icon icon-person">
        <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-person"></use>
      </svg>
      <p>Login</p>
    </div>
    <div>
      <!-- <button class="btn-team" (click)="toggle()">Color</button> -->
      <div class="theme-switcher">
        <label class="swtich">
          <input
            type="checkbox"
            [checked]="isDarkTheme"
            (change)="onThemeSwitchChange()" />
        </label>
      </div>
    </div>
  </div>
</header>
