<div class="container">
  <div class="container__logo" routerLink="">
    <svg>
      <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-menu"></use>
    </svg>

    <h1>IBM <span> Shop </span></h1>
  </div>

  <div class="container__search">
    <app-search></app-search>
  </div>

  <div class="container__icons">

    <!-- <div class="container__icons--actions"> -->
    <svg routerLink="/cart">
      <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-local_grocery_store">
        {{ cartService.checkLength() }}
      </use>
    </svg>

    <svg style="width: 1.7rem; fill:red">
      <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-bell">
      </use>
    </svg>

    <svg>
      <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-person">
      </use>
    </svg>
    
    <svg>
      <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-enter"></use>
    </svg>
    

    <div>

    </div>

    <div class="theme-switcher">
      <label class="swtich">
        <input type="checkbox" [checked]="isDarkTheme" (change)="onThemeSwitchChange()" />
      </label>
    </div>

  </div>
</div>
<!-- </div> -->