<h2>Checkout dos Produtos</h2>


<form [formGroup]="cadastroForm">
  <div class="container">
    <div class="icon-pessoa">
      <svg class="icon icon-person">
        <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-person"></use>
      </svg>
      <p>Dados Pessoais</p>
    </div>

    <div class="identificador">
      <p class="p-cadastro">Já possui cadastro?</p>
      <button>identifique-se</button>
    </div>

    <div class="div-ee">
      <label for="name">Nome completo</label>
      <input
        id="name"
        type="text"
        placeholder=" insira seu nome aqui"
        formControlName="name" />
    </div>

    <div class="div-ee">
      <label for="Email">Email</label>
      <input
        id="email"
        type="email"
        placeholder=" insira seu email aqui"
        formControlName="email" />
    </div>

    <div class="div-senha-confirmar">
      <div class="div-ee">
        <label for="senha">Senha</label>
        <input id="senha" type="password">
      </div>


      <div class="div-ee">
        <label for="confirmar-senha">Confirmar</label>
        <input id="confirmar"  type="password">
      </div>

    </div>

    <div class="cpf-rg">
      <div class="div-ee">
        <label for="cpf">CPF</label>
        <input type="number" name="" id="cpf">
      </div>
      <div class="div-ee">
        <label for="rg">RG</label>
        <input type="number" name="" id="rg">
      </div>
    </div>

    <div class="data-tel">
      <div class="div-ee">
        <label for="data">Data</label>
        <input type="date" name="" id="data">
      </div>
      <div class="div-ee">
        <label for="tel">Celular</label>
        <input type="tel" name="" id="tel">
      </div>
    </div>

    <div class="txt-radio">
      <div class="txt">
        <p>Deseja receber notificações por email ou whatsapp?</p>
      </div>
      <div>
        <input type="radio" name="" id="radioo">
      </div>
    </div>
  </div>
  

  <div class="container">

    <div class="icon-pessoa">
      <svg class="icon icon-person">
        <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-person"></use>
      </svg>
      <p>Escolha a forma de envio</p>
    </div>

    <div class="cep">
      <label for="cep">CEP</label>
      <input type="number" name="" id="">
    </div>
    
    <div class="radio">
      <input type="radio" name="" id="">
      <input type="radio" name="" id="">
    </div>

    <div class="uteis">
      <p> <section>*</section>  Dias uteis, após a confirmação do pagamento
    </div>

    <div class="ende-num">
      <div class="endereço">
        <label for="endereço">endereço</label>
        <input type="text" name="" id="">
      </div>
      <div class="num">
        <label for="num">Numero</label>
        <input type="number" name="" id="">
      </div>
    </div>

    <div class="comple-refe">
      <div class="comple">
        <label for="comple">Complemento</label>
        <input type="text" name="" id="">
      </div>
      <div class="refe">
        <label for="refe">Referencia</label>
        <input type="text" name="" id="">
      </div>
    </div>

    <div class="bairro-city">
      <div class="bairro">
        <label for="bairro">Bairro</label>
        <input type="text" name="" id="">
      </div>
      <div class="city">
        <label for="city">Referencia</label>
        <input type="text" name="" id="">
      </div>
    </div>

    <div class="estado-pais">
      <div class="estado">
        <label for="estado">Estado</label>
        <select name="" id=""></select>
      </div>
      <div class="pais">
        <label for="pais">Pais</label>
        <input type="text" name="" id="">
      </div>
    </div>
  </div>

  <div class="container nn">
    <div class="icon-pessoa">
      <svg class="icon icon-person">
        <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-person"></use>
      </svg>
      <p>Escolha a forma de pagamento</p>
    </div>

    
      
    <div class="radio-boleto"> 
      <!-- display flex e aligns items -->
      <input type="radio" name="" id="">
      <p>Boleto</p>
    </div>

    <div class="radio-pix"> 
      <!-- display flex e aligns items -->
      <input type="radio" name="" id="">
      <p>Pix</p>
    </div>

    <div class="radio-credito"> 
      <!-- display flex e aligns items -->
      <input type="radio" name="" id="">
      <p>Credito</p>
    </div>

    <button class="btn-fim">Finalizar compra</button>

  </div>
</form>