.container {
  display: inline-block;
  width: 3000px;
  margin: 6px;
  height: 738px;
  left: 282px;
  top: 303px;
  /* IBM Shop/ref/neutral-variant/neutral-variant99 */
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

::placeholder {
  padding: 1rem;
}

form {
  display: flex;
}

.icon-pessoa {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-person {
  display: inline-block;
  width: 30px;
  height: 26px;
  stroke: currentColor;
  fill: currentColor;
}

hr {
  width: 300px;
  margin: 5px;
  border: 1px solid #c5c6d0;
}

.identificador {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 15px;
  gap: 5px;

  .p-cadastro {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* or 200% */

    /* IBM Shop/sys/light/outline */

    color: #757680;
  }

  button {
    width: 134.73px;
    height: 38px;
    left: 457px;
    top: 406px;

    background: #0052dd;
    border-radius: 8px;
    border: #fefbff;
    color: #fefbff;
  }
}

.div-ee {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-left: 8px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  /* or 200% */

  /* IBM Shop/sys/light/outline */

  color: #757680;
}

#name {
  margin-left: 8px;
  background-color: #0052dd;
  width: 270px;
  height: 38px;
  background: #fefbff;
  border: 1px solid #0052dd;
  border-radius: 8px;
}
#email {
  margin-left: 8px;
  background-color: #0052dd;
  width: 270px;
  height: 38px;
  background: #fefbff;
  border: 1px solid #0052dd;
  border-radius: 8px;
}

.div-senha-confirmar {
  display: flex;
  margin: 5px;
  gap: 5px;
}

#senha {
  width: 140px;
  height: 30px;
  left: 296px;
  top: 679px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

#confirmar {
  width: 140px;
  height: 30px;
  left: 296px;
  top: 679px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.cpf-rg {
  display: flex;
  margin: 5px;
  gap: 5px;
}

#cpf {
  width: 140px;
  height: 30px;
  left: 296px;
  top: 679px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}
#rg {
  width: 140px;
  height: 30px;
  left: 296px;
  top: 679px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.data-tel {
  display: flex;
  margin: 5px;
  gap: 5px;
}

#data {
  width: 140px;
  height: 30px;
  left: 296px;
  top: 679px;
  padding: 1rem;
  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

#tel {
  width: 140px;
  height: 30px;
  left: 296px;
  top: 679px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.txt-radio {
  display: flex;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* or 100% */

  /* IBM Shop/sys/light/outline */

  color: #757680;
}

#radioo {
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  background: #fefbff;
  border: 2px solid #acaaaf;
  border-radius: 1rem;
}

.cep {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#cep {
  width: 140px;
  height: 30px;
  left: 296px;
  top: 679px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.div-radioi {
  display: flex;
  align-items: center;
  width: 319px;
  height: 38px;
  left: 685px;
  top: 491px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}
.div-radioa {
  display: flex;
  align-items: center;
  width: 319px;
  height: 38px;
  left: 685px;
  top: 491px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

#radioi {
  display: flex;
  margin: 1rem;
}
#radioa {
  display: flex;
  margin: 1rem;
}


.ende-num {
  display: flex;
  gap: 1rem;
}
.endereco {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.num {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#endereco {
  width: 208px;
  height: 38px;
  left: 686px;
  top: 686px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}
#num {
  width: 97px;
  height: 38px;
  left: 686px;
  top: 686px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.comple-refe {
  display: flex;
  gap: 1rem;
}

#comple {
  width: 150px;
  height: 38px;
  left: 853px;
  top: 773px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}
#refe {
  width: 150px;
  height: 38px;
  left: 853px;
  top: 773px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.bairro-city {
  display: flex;
  gap: 1rem;
}

#bairro {
  width: 150px;
  height: 38px;
  left: 853px;
  top: 773px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}
#city {
  width: 150px;
  height: 38px;
  left: 853px;
  top: 773px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.estado-pais {
  display: flex;
  gap: 1rem;
}

#estado {
  width: 150px;
  height: 38px;
  left: 853px;
  top: 773px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}
#pais {
  width: 150px;
  height: 38px;
  left: 853px;
  top: 773px;

  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.nn {
  // width: 350px;
  height: 593px;
  left: 1062px;
  top: 303px;
  /* IBM Shop/ref/neutral-variant/neutral-variant99 */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.radio-boleto {
  display: flex;
  align-items: center;
  width: 280px;
  height: 38px;
  margin: 1rem;
  top: 405px;
  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.radio-pix {
  display: flex;
  align-items: center;
  width: 280px;
  height: 38px;
  margin: 1rem;
  top: 405px;
  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.radio-credito {
  display: flex;
  align-items: center;
  width: 280px;
  height: 308px;
  margin: 1rem;
  top: 501px;
  background: #fefbff;
  border: 1px solid #acaaaf;
  border-radius: 8px;
}

.div-btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  top: 1rem;
}
.btn-fim {
  width: 229.73px;
  height: 38px;
  background: #0052dd;
  border-radius: 8px;
  border: none;
}
