.footer {
  background-color: #3855c1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
  
  gap: 5px;
}

.icon {
  display: flex;
  align-items: center;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// footer {
//     background: #3855C1;
//     display: flex;
//     bottom: 0px;
//     width: 100%;
//     height: 89px;
// }
