<div class="container">
  <div class="card" *ngFor="let product of products">
    <div class="card-image">
      <img src=" {{ product.image }} " alt="Book" />
    </div>
    <div class="card-stock">
      <p class="subtitle">Estoque: {{ product.stock }}</p>
    </div>
    <div class="card-name">
      <p class="title">
        {{ product.name }}
      </p>
    </div>
    <div class="card-value">
      <p class="value">R${{ product.value }}</p>
      <button class="button-card" (click)="changeStateModal(product.image)">
        <svg class="icon icon-add">
          <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-add"></use>
        </svg>
        <svg class="icon-local_grocery_store">
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-local_grocery_store"></use>
        </svg>
      </button>
    </div>
  </div>
  <app-dialog [image]="image" (close)="close()" />
  <div id="pagination">teste</div>
</div>
