.container {
  margin-left: 30px;
  margin: 1rem;
  margin-bottom: 100px;
  // background-color: red;
}

.card {
  display: inline-block;
  width: 183.52px;
  height: 257.61px;
  // left: 292px;
  top: 538px;
  background: #fefbff;
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 20px;
  // margin-bottom: 60px;
}

img {
  width: 100px;
  height: 100px;
  left: 340px;
  top: 538px;
}

// .card {
//   display: inline-block;
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   padding: 1rem;
//    max-width: 100px;
//   margin: 1rem;
// }

// .card img {
//   flex-basis: 40%;
//   max-width: 100%;
//   margin-right: 1rem;
// }

// .card-content {
//   flex-grow: 1;
// }

.icon { // ++
  display: inline-block;
  width: 20px;
  height: 20px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-local_grocery_store { // cart
  display: flex;
  align-items: center;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// // .button-card {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-color: #0052dd;
//   color: white;
//   height: 30px;
//   width: 50px;
//   border-radius: 8px;
//   border: none;
// }

// .card-value {
//   display: flex;
//   align-items: center;
//   gap: 30px;
// }

// .container {
//   position: absolute;
//   width: 183.52px;
//   height: 257.61px;
//   left: 306px;
//   top: 601px;
// }

// .card-image {
//   position: absolute;
//   width: 80px;
//   height: 120px;
//   left: 354px;
//   top: 601px;
// }

// .container {
// }

// .card {

//   height: 257.61px;
//   width: 183.52px;
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   padding: 1rem;
//   max-width: 900px;
//   // overflow: auto;
// }
// img {
//   display: inline-block;
//   position: absolute;
//   width: 280px;
//   height: 220px;
//   left: 354px;
//   top: 284px;
// }

// .conatiner {
//     text-align: center;
//     overflow: hidden;
// }
// img {
//     float: left;
//     margin: 1rem;
//     height: 150px;
//     width: 150px;
// }
