.card {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 180px;
    margin: 10px;
  }
  
  .card img {
    flex-basis: 40%;
    max-width: 100%;
    margin-right: 10px;
  }
  
  .card-content {
    flex-grow: 1;
  }




  .icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }


  .button-card {
    display: flex;
    text-align: end;
  }













// .container {
//   position: absolute;
//   width: 183.52px;
//   height: 257.61px;
//   left: 306px;
//   top: 601px;
// }

// .card-image {
//   position: absolute;
//   width: 80px;
//   height: 120px;
//   left: 354px;
//   top: 601px;
// }

// .container {
// }

// .card {

//   height: 257.61px;
//   width: 183.52px;
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   padding: 10px;
//   max-width: 900px;
//   // overflow: auto;
// }
// img {
//   display: inline-block;
//   position: absolute;
//   width: 280px;
//   height: 220px;
//   left: 354px;
//   top: 284px;
// }

// .conatiner {
//     text-align: center;
//     overflow: hidden;
// }
// img {
//     float: left;
//     margin: 10px;
//     height: 150px;
//     width: 150px;
// }
