<table class="table">
  <thead>
    <button class="btn-create">nova subcategoria</button>
    <tr>
      <th>Nome da categoria</th>
      <th>Nome da subcategoria</th>
      <th>id</th>
      <th class="th-btn">Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let product of products">
      <td>{{product.category_name}} </td>
      <td>{{product.subcategory_name}}</td>
      <td>{{product.category_id}}</td>

      <td class="td-btn">
        <button class="btn-1">Editar</button>
        <button class="btn-2">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
