.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  padding-bottom: 7rem;
}

.products {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 250px;
  background-color: var( --dark-backgroud-color);
}

.sidenav {
  display: flex;
}
