.container {
  display: flex;
  flex-direction: column;
  //   margin-top: -30px;
}
// .container {
//   // background-color: var(--body);
// }

.main {
  display: flex;
  padding-bottom: 7rem;
}

.products {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  background-color: var( --dark-backgroud-color)
}

.sidenav {
  display: flex;
}
