<div class="container__card">
    <div class="container__card--title">
        <svg>
            <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-person"></use>
        </svg>
        <h1>Acesse sua conta</h1>
    </div>
    <div class="container__card--form">
        <label>Email</label>
        <input type="text" placeholder="insira seu email aqui" formControlName="email">
        <label>Senha</label>
        <input type="text" placeholder="insira seu nome aqui" formControlName="senha">
        <p>Esqueci a senha</p>
        <button (click)="onLogin()">Login</button>
        <p>Não tem uma conta ainda?</p>
        <button (click)="onCadastro()">Faça um cadastro</button>
    </div>
</div>