.pagination {
    margin-left: 677px;
    margin-bottom: 50px;
  }
  

.pagination a {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    color: #333;
  }
  
  .pagination a.prev,
  .pagination a.next {
    font-weight: bold;
  }
  
  .pagination a.page.active {
    background-color: #333;
    color: #ffffff;
  }
  
  .pagination a:hover {
    background-color: #f2f2f2;
  }