<table class="table">
    <thead>
        <tr>
            <th *ngFor="let colunm of colunmNames">
                {{colunm}}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let product of products" >
            <ng-container >
                <td>
                   {{product.category_name}}
                </td>
                <td>
                    {{product.subcategory_name}}
                 </td>
                 <td>
                    {{product.category_id}}
                 </td>
            </ng-container>

            <td class="td-btn">
                <button class="btn-1" (click)="onClickEdit(product.category_name)">Edit</button>

                <button class="btn-2" (click)="onClickDelet(product.category_name)">Delet</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- tr *ngFor="let data of rowData; let i = index" -->
<!-- ng *ngFor="let colunmKey of colunmKeys" -->
<!-- {{data[colunmKey]}} -->
 <!-- td -->